<h1 class="title">Consider a Recall</h1>
<br>
{{#.}}
    <h3>Recommendations</h3>
    <br>
    {{#recommendations}}
        <table class="data-table">
            <tr>
                <td class="data-column-35">Created by surname</td>
                <td class="data-column-30">Created date</td>
            </tr>
            <tr>
                <td>{{ getUserLastName createdBy }}</td>
                <td>{{ optionalValue (formatDate createdDate) }}</td>
            </tr>
        </table>
        <br>
        <h5>Recall considered list</h5>
        {{#recallConsideredList}}
            <table class="data-table">
                <tr>
                    <td class="data-column-35">Date created</td>
                    <td class="data-column-30">Surname</td>
                    <td class="data-column-35"></td>
                </tr>
                <tr>
                    <td>{{ optionalValue (formatDate createdDate) }}</td>
                    <td>{{ getUserLastName userId }}</td>
                    <td></td>
                </tr>
            </table>
            <table class="data-table">
                <tr><td class="data-column-100">Details</td></tr>
                <tr><td>{{ optionalValue recallConsideredDetail }}</td></tr>
            </table>
        {{/recallConsideredList}}
        {{^recallConsideredList}}
            <p>No Data Held</p>
        {{/recallConsideredList}}
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-20">Recall type</td>
                <td class="data-column-80">Details</td>
            </tr>
            <tr>
                <td>{{ optionalValue recallType.selected.value }}</td>
                <td>{{ optionalValue recallType.selected.details }}</td>
            </tr>
        </table>
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-25">Manager recall decision</td>
                <td class="data-column-25">Details</td>
                <td class="data-column-25">Created by surname</td>
                <td class="data-column-25">Created date</td>
            </tr>
            <tr>
                <td>{{ optionalValue managerRecallDecision.selected.value }}</td>
                <td>{{ optionalValue managerRecallDecision.selected.details }}</td>
                <td>{{ getUserLastName managerRecallDecision.createdBy }}</td>
                <td>{{ optionalValue (formatDate managerRecallDecision.createdDate) }}</td>
            </tr>
        </table>
        <br>
        <h5>Consideration Rationale</h5>
        {{#considerationRationale}}
            <table class="data-table">
                <tr>
                    <td class="data-column-25">Date created</td>
                    <td class="data-column-25">Time created</td>
                    <td class="data-column-25">Created by surname</td>
                    <td class="data-column-25">Sensitive</td>
                </tr>
                <tr>
                    <td>{{ optionalValue (formatDate createdDate) }}</td>
                    <td>{{ optionalValue (formatDate createdTime) }}</td>
                    <td>{{ getUserLastName createdBy }}</td>
                    <td>{{ convertBoolean sensitive }}</td>
                </tr>
            </table>
        {{/considerationRationale}}
        {{^considerationRationale}}
            <p>No Data Held</p>
        {{/considerationRationale}}
        <br>
        <h5>Custody status</h5>
        {{#custodyStatus}}
            <table class="data-table">
                <tr>
                    <td class="data-column-35">Selected</td>
                    <td class="data-column-65">Details</td>
                </tr>
                <tr>
                    <td>{{ convertBoolean selected }}</td>
                    <td>{{ optionalValue details }}</td>
                </tr>
            </table>
        {{/custodyStatus}}
        {{^custodyStatus}}
            <p>No Data Held</p>
        {{/custodyStatus}}
        <br>
        <h5>Local police contact</h5>
        {{#localPoliceContact}}
            <table class="data-table">
                <tr>
                    <td class="data-column-100">Contact surname</td>
                </tr>
                <tr>
                    <td>{{ getUserLastName contactName }}</td>
                </tr>
            </table>
        {{/localPoliceContact}}
        {{^localPoliceContact}}
            <p>No Data Held</p>
        {{/localPoliceContact}}
        <br>
        <br>
        {{#sentenceGroup}}
        <table class="data-table">
            <tr><td class="data-column-20">Sentence group</td></tr>
            <tr><td>{{ optionalValue sentenceGroup }}</td></tr>
        </table>
        {{/sentenceGroup}}
        <table class="data-table">
            <tr>
                <td class="data-column-25">Emergency recall</td>
                <td class="data-column-25">Indeterminate sentence</td>
                <td class="data-column-25">Extended sentence</td>
                <td class="data-column-25">Active custodial conviction count</td>
            </tr>
            <tr>
                <td>{{ convertBoolean isThisAnEmergencyRecall }}</td>
                <td>{{ convertBoolean isIndeterminateSentence }}</td>
                <td>{{ convertBoolean isExtendedSentence }}</td>
                <td>{{ optionalValue activeCustodialConvictionCount }}</td>
            </tr>
        </table>

        <table class="data-table">
            <tr><td class="data-column-100">Response to probation</td></tr>
            <tr><td>{{ optionalValue responseToProbation }}</td></tr>
        </table>

        <table class="data-table">
            <tr><td class="data-column-100">Thoughts leading to recall</td></tr>
            <tr><td>{{ optionalValue thoughtsLeadingToRecall }}</td></tr>
        </table>

        <table class="data-table">
            <tr><td class="data-column-100">Trigger leading to recall</td></tr>
            <tr><td>{{ optionalValue triggerLeadingToRecall }}</td></tr>
        </table>

        <table class="data-table">
            <tr><td class="data-column-100">What led to recall</td></tr>
            <tr><td>{{ optionalValue whatLedToRecall }}</td></tr>
        </table>
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-50">Has victims in contact scheme</td>
                <td class="data-column-50">Date VLO informed</td>
            </tr>
            <tr>
                <td>{{ optionalValue hasVictimsInContactScheme.selected }}</td>
                <td>{{ optionalValue (formatDate dateVloInformed) }}</td>
            </tr>
        </table>
        <br>
        <table class="data-table">
            <tr><td class="data-column-20">Indeterminate sentence type</td></tr>
            <tr><td>{{ optionalValue indeterminateSentenceType.selected }}</td></tr>
        </table>
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-25">Has arrest issues</td>
                <td class="data-column-75">Details</td>
            </tr>
            <tr>
                <td>{{ convertBoolean hasArrestIssues.selected }}</td>
                <td>{{ optionalValue hasArrestIssues.details }}</td>
            </tr>
        </table>
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-25">Has contraband risk</td>
                <td class="data-column-75">Details</td>
            </tr>
            <tr>
                <td>{{ convertBoolean hasContrabandRisk.selected }}</td>
                <td>{{ optionalValue hasContrabandRisk.details }}</td>
            </tr>
        </table>
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-35">Status</td>
                <td class="data-column-30">Region</td>
            </tr>
            <tr>
                <td>{{ optionalValue status }}</td>
                <td>{{ optionalValue region }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-35">Last Decision not to recall letter A downloaded</td>
                <td class="data-column-30">Review practitioners concerns</td>
                <td class="data-column-35">ODM surname</td>
            </tr>
            <tr>
                <td>{{ optionalValue (formatDate lastDntrLetterADownloadDateTime) }}</td>
                <td>{{ convertBoolean reviewPractitionersConcerns }}</td>
                <td>{{ getUserLastName odmName }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-35">Senior Probation Officer recall type</td>
                <td class="data-column-35">Review offender profile</td>
            </tr>
            <tr>
                <td>{{ optionalValue spoRecallType }}</td>
                <td>{{ convertBoolean reviewOffenderProfile }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-35">Explain the decision</td>
                <td class="data-column-35">Last modified by surname</td>
                <td class="data-column-30">Last modified</td>
            </tr>
            <tr>
                <td>{{ convertBoolean explainTheDecision }}</td>
                <td>{{ getUserLastName lastModifiedBy }}</td>
                <td>{{ optionalValue (formatDate lastModifiedDate) }}</td>
            </tr>
        </table>
        <table class="data-table">
            <tr><td class="data-column-100">Senior Probation Officer recall rationale</td></tr>
            <tr><td>{{ optionalValue spoRecallRationale }}</td></tr>
        </table>

        <table class="data-table">
            <tr><td class="data-column-100">Senior Probation Officer cancel recommendation rationale</td></tr>
            <tr><td>{{ optionalValue spoCancelRecommendationRationale }}</td></tr>
        </table>

        <table class="data-table">
            <tr><td class="data-column-100">Senior Probation Officer delete recommendation rationale</td></tr>
            <tr><td>{{ optionalValue spoDeleteRecommendationRationale }}</td></tr>
        </table>

        <h5>Person on probation</h5>
        {{#personOnProbation}}
            <table class="data-table">
                <tr>
                    <td class="data-column-25">Name</td>
                    <td class="data-column-25">First name</td>
                    <td class="data-column-25">Middle names</td>
                    <td class="data-column-25">Surname</td>
                </tr>
                <tr>
                    <td>{{ optionalValue name }}</td>
                    <td>{{ optionalValue firstName }}</td>
                    <td>{{ optionalValue middleNames }}</td>
                    <td>{{ optionalValue surname }}</td>
                </tr>
            </table>
            <table class="data-table">
                <tr>
                    <td class="data-column-25">Gender</td>
                    <td class="data-column-25">Ethnicity</td>
                    <td class="data-column-25">Date of birth</td>
                    <td class="data-column-25">Primary language</td>
                </tr>
                <tr>
                    <td>{{ optionalValue gender }}</td>
                    <td>{{ optionalValue ethnicity }}</td>
                    <td>{{ optionalValue (formatDate dateOfBirth) }}</td>
                    <td>{{ optionalValue primaryLanguage }}</td>
                </tr>
            </table>
            <table class="data-table">
                <tr>
                    <td class="data-column-25">CRO number</td>
                    <td class="data-column-25">Most recent prisoner number</td>
                    <td class="data-column-25">NOMS number</td>
                    <td class="data-column-25">PNC number</td>
                </tr>
                <tr>
                    <td>{{ optionalValue croNumber }}</td>
                    <td>{{ optionalValue mostRecentPrisonerNumber }}</td>
                    <td>{{ optionalValue nomsNumber }}</td>
                    <td>{{ optionalValue pncNumber }}</td>
                </tr>
            </table>
            <table class="data-table">
                <tr>
                    <td class="data-column-20">Has been reviewed</td>
                    <td class="data-column-20">Multi-agency Public Protection Arrangements level</td>
                    <td class="data-column-20">Multi-agency Public Protection Arrangements last updated date</td>
                    <td class="data-column-20">Multi-agency Public Protection Arrangements category</td>
                    <td class="data-column-20">Multi-agency Public Protection Arrangements reviewed</td>
                </tr>
                <tr>
                    <td>{{ convertBoolean hasBeenReviewed }}</td>
                    {{#mappa}}
                        <td>{{ optionalValue level }}</td>
                        <td>{{ optionalValue (formatDate lastUpdatedDate) }}</td>
                        <td>{{ optionalValue category }}</td>
                        <td>{{ convertBoolean hasBeenReviewed }}</td>
                    {{/mappa}}
                </tr>
            </table>
            <p><b>Addresses</b></p>
            {{#addresses}}
                <table class="data-table">
                    <tr>
                        <td class="data-column-50">Line 1</td>
                        <td class="data-column-50">Line 2</td>
                    </tr>
                    <tr>
                        <td>{{ optionalValue line1 }}</td>
                        <td>{{ optionalValue line2 }}</td>
                    </tr>
                </table>
                <table class="data-table">
                    <tr>
                        <td class="data-column-50">Town</td>
                        <td class="data-column-25">Postcode</td>
                        <td class="data-column-25">No fixed abode</td>
                    </tr>
                    <tr>
                        <td>{{ optionalValue town }}</td>
                        <td>{{ optionalValue postcode }}</td>
                        <td>{{ optionalValue noFixedAbode }}</td>
                    </tr>
                </table>
            {{/addresses}}
            {{^addresses}}
                <p>No Data Held</p>
            {{/addresses}}
        {{/personOnProbation}}
        {{^personOnProbation}}
            <p>No Data Held</p>
        {{/personOnProbation}}

        <h5>Conviction detail</h5>
        {{#convictionDetail}}
            <table class="data-table">
                <tr><td class="data-column-100">Index offence description</td></tr>
                <tr><td>{{ optionalValue indexOffenceDescription }}</td></tr>
            </table>
            <table class="data-table">
                <tr><td class="data-column-25">Date of original offence</td></tr>
                <tr><td>{{ optionalValue (formatDate dateOfOriginalOffence) }}</td></tr>
            </table>
            <table class="data-table">
                <tr><td class="data-column-100">Sentence description</td></tr>
                <tr><td>{{ optionalValue sentenceDescription }}</td></tr>
            </table>
            <table class="data-table">
                <tr>
                    <td class="data-column-50">Date of sentence</td>
                    <td class="data-column-25">Length of sentence</td>
                    <td class="data-column-25">Units</td>
                </tr>
                <tr>
                    <td>{{ optionalValue (formatDate dateOfSentence) }}</td>
                    <td>{{ optionalValue lengthOfSentence }}</td>
                    <td>{{ optionalValue lengthOfSentenceUnits }}</td>
                </tr>
            </table>
            <table class="data-table">
                <tr>
                    <td class="data-column-50">Sentence expiry</td>
                    <td class="data-column-25">Second sentence length</td>
                    <td class="data-column-25">Units</td>
                </tr>
                <tr>
                    <td>{{ optionalValue (formatDate sentenceExpiryDate) }}</td>
                    <td>{{ optionalValue sentenceSecondLength }}</td>
                    <td>{{ optionalValue sentenceSecondLengthUnits }}</td>
                </tr>
            </table>
            <table class="data-table">
                <tr>
                    <td class="data-column-25">Licence expiry</td>
                    <td class="data-column-25">Custodial term</td>
                    <td class="data-column-25">Extended term</td>
                    <td class="data-column-25">Has been reviewed</td>
                </tr>
                <tr>
                    <td>{{ optionalValue (formatDate licenceExpiryDate) }}</td>
                    <td>{{ optionalValue custodialTerm }}</td>
                    <td>{{ optionalValue extendedTerm }}</td>
                    <td>{{ convertBoolean hasBeenReviewed }}</td>
                </tr>
            </table>
        {{/convictionDetail}}
        {{^convictionDetail}}
            <p>No Data Held</p>
        {{/convictionDetail}}
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-20">Alternatives to recall tried</td>
                <td class="data-column-80">Details</td>
            </tr>
            {{#alternativesToRecallTried.selected}}
                <tr>
                    <td>{{ optionalValue value }}</td>
                    <td>{{ optionalValue details }}</td>
                </tr>
            {{/alternativesToRecallTried.selected}}
            {{^alternativesToRecallTried.selected}}
                <tr>
                    <td>No Data Held</td>
                    <td>No Data Held</td>
                </tr>
            {{/alternativesToRecallTried.selected}}
        </table>

        <h5>Licence conditions breached</h5>
        <table class="data-table">
            <tr><td class="data-column-20">Standard licence conditions</td></tr>
            <tr><td>{{#licenceConditionsBreached}}{{#standardLicenceConditions.selected}}<li>{{ optionalValue . }}</li>{{/standardLicenceConditions.selected}}{{^standardLicenceConditions.selected}}No Data Held{{/standardLicenceConditions.selected}}{{/licenceConditionsBreached}}{{^licenceConditionsBreached}}No Data Held{{/licenceConditionsBreached}}</td></tr>
        </table>
        {{! selectedOptions are transformed by SubjectAccessRequestService.transformAdditionalLicenceConditions:
             mainCatCode contains the resolved title }}
        <table class="data-table">
            <tr><td class="data-column-20">Additional licence conditions</td></tr>
            <tr><td>{{#licenceConditionsBreached}}{{#additionalLicenceConditions}}{{#selected}}<li>{{ optionalValue . }}</li>{{/selected}}{{#selectedOptions}}<li>{{ optionalValue mainCatCode }}</li>{{/selectedOptions}}{{^selected}}{{^selectedOptions}}No Data Held{{/selectedOptions}}{{/selected}}{{/additionalLicenceConditions}}{{^additionalLicenceConditions}}No Data Held{{/additionalLicenceConditions}}{{/licenceConditionsBreached}}{{^licenceConditionsBreached}}No Data Held{{/licenceConditionsBreached}}</td></tr>
        </table>

        <h5>Create and Vary a Licence conditions breached</h5>
        <table class="data-table">
            <tr><td class="data-column-20">Standard licence conditions</td></tr>
            <tr><td>{{#cvlLicenceConditionsBreached}}{{#standardLicenceConditions}}{{#selected}}<li>{{ optionalValue . }}</li>{{/selected}}{{^selected}}No Data Held{{/selected}}{{/standardLicenceConditions}}{{^standardLicenceConditions}}No Data Held{{/standardLicenceConditions}}{{/cvlLicenceConditionsBreached}}{{^cvlLicenceConditionsBreached}}No Data Held{{/cvlLicenceConditionsBreached}}</td></tr>
        </table>
        <table class="data-table">
            <tr><td class="data-column-20">Additional licence conditions</td></tr>
            <tr><td>{{#cvlLicenceConditionsBreached}}{{#additionalLicenceConditions}}{{#selected}}<li>{{ optionalValue . }}</li>{{/selected}}{{^selected}}No Data Held{{/selected}}{{/additionalLicenceConditions}}{{^additionalLicenceConditions}}No Data Held{{/additionalLicenceConditions}}{{/cvlLicenceConditionsBreached}}{{^cvlLicenceConditionsBreached}}No Data Held{{/cvlLicenceConditionsBreached}}</td></tr>
        </table>
        <table class="data-table">
            <tr><td class="data-column-20">Bespoke licence conditions</td></tr>
            <tr><td>{{#cvlLicenceConditionsBreached}}{{#bespokeLicenceConditions}}{{#selected}}<li>{{ optionalValue . }}</li>{{/selected}}{{^selected}}No Data Held{{/selected}}{{/bespokeLicenceConditions}}{{^bespokeLicenceConditions}}No Data Held{{/bespokeLicenceConditions}}{{/cvlLicenceConditionsBreached}}{{^cvlLicenceConditionsBreached}}No Data Held{{/cvlLicenceConditionsBreached}}</td></tr>
        </table>
        <br>
        <table class="data-table">
            <tr><td class="data-column-100">Additional licence conditions text</td></tr>
            <tr><td>{{ optionalValue additionalLicenceConditionsText }}</td></tr>
        </table>
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-35">Vulnerabilities</td>
                <td class="data-column-65">Details</td>
            </tr>
            {{#vulnerabilities.selected}}
                <tr>
                    <td>{{ optionalValue value }}</td>
                    <td>{{ optionalValue details }}</td>
                </tr>
            {{/vulnerabilities.selected}}
            {{^vulnerabilities.selected}}
                <tr>
                    <td>No Data Held</td>
                    <td>No Data Held</td>
                </tr>
            {{/vulnerabilities.selected}}
        </table>
        <br>
        <table class="data-table">
            <tr><td class="data-column-20">Under integrated offender management</td></tr>
            <tr><td>{{ optionalValue isUnderIntegratedOffenderManagement.selected }}</td></tr>
        </table>
        <br>
        <table class="data-table">
            <tr><td class="data-column-100">Index offence details</td></tr>
            <tr><td>{{ optionalValue indexOffenceDetails }}</td></tr>
        </table>
        <table class="data-table">
            <tr><td class="data-column-100">Offence analysis</td></tr>
            <tr><td>{{ optionalValue offenceAnalysis }}</td></tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-35">Offence data from latest complete assessment</td>
                <td class="data-column-65">Offences match</td>
            </tr>
            <tr>
                <td>{{ convertBoolean offenceDataFromLatestCompleteAssessment }}</td>
                <td>{{ convertBoolean offencesMatch }}</td>
            </tr>
        </table>
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-35">Fixed term additional licence conditions</td>
                <td class="data-column-65">Details</td>
            </tr>
            <tr>
                <td>{{ convertBoolean fixedTermAdditionalLicenceConditions.selected }}</td>
                <td>{{ optionalValue fixedTermAdditionalLicenceConditions.details }}</td>
            </tr>
        </table>
        <br>
        {{#indeterminateOrExtendedSentenceDetails}}
            <table class="data-table">
                <tr>
                    <td class="data-column-35">Indeterminate/extended sentence details</td>
                    <td class="data-column-65">Details</td>
                </tr>
                {{#selected}}
                    <tr>
                        <td>{{ optionalValue value }}</td>
                        <td>{{ optionalValue details }}</td>
                    </tr>
                {{/selected}}
                {{^selected}}
                    <tr>
                        <td>No Data Held</td>
                        <td>No Data Held</td>
                    </tr>
                {{/selected}}
            </table>
        {{/indeterminateOrExtendedSentenceDetails}}
        <br>
        <table class="data-table">
            <tr>
                <td class="data-column-35">Is main address where person can be found</td>
                <td class="data-column-65">Details</td>
            </tr>
            <tr>
                <td>{{ convertBoolean isMainAddressWherePersonCanBeFound.selected }}</td>
                <td>{{ optionalValue isMainAddressWherePersonCanBeFound.details }}</td>
            </tr>
        </table>
        <br>
        <table class="data-table">
            <tr><td class="data-column-20">Why considered recall</td></tr>
            <tr><td>{{#whyConsideredRecall}}{{ optionalValue selected }}{{/whyConsideredRecall}}{{^whyConsideredRecall}}No Data Held{{/whyConsideredRecall}}</td></tr>
        </table>
        <br>
        <h5>Reasons for no recall</h5>
        {{#reasonsForNoRecall}}
            <table class="data-table">
                <tr><td class="data-column-100">Licence breach</td></tr>
                <tr><td>{{ optionalValue licenceBreach }}</td></tr>
            </table>
            <table class="data-table">
                <tr><td class="data-column-100">No recall rationale</td></tr>
                <tr><td>{{ optionalValue noRecallRationale }}</td></tr>
            </table>
            <table class="data-table">
                <tr><td class="data-column-100">POP progress made</td></tr>
                <tr><td>{{ optionalValue popProgressMade }}</td></tr>
            </table>
            <table class="data-table">
                <tr><td class="data-column-100">POP thoughts</td></tr>
                <tr><td>{{ optionalValue popThoughts }}</td></tr>
            </table>
            <table class="data-table">
                <tr><td class="data-column-100">Future expectations</td></tr>
                <tr><td>{{ optionalValue futureExpectations }}</td></tr>
            </table>
        {{/reasonsForNoRecall}}
        {{^reasonsForNoRecall}}
            <p>No data held</p>
        {{/reasonsForNoRecall}}
        <br>
        <h5>Next appointment (decision not to recall)</h5>
        {{#nextAppointment}}
            {{#howWillAppointmentHappen}}
                <table class="data-table">
                    <tr><td class="data-column-20">How will appointment happen</td></tr>
                    {{#selected}}
                        <tr><td>{{ optionalValue selected }}</td></tr>
                    {{/selected}}
                    {{^selected}}
                        <tr><td>No Data Held</td></tr>
                    {{/selected}}
                </table>
            {{/howWillAppointmentHappen}}
            <table class="data-table">
                <tr>
                    <td class="data-column-35">Date and time of appointment</td>
                </tr>
                <tr>
                    <td>{{ optionalValue (formatDate dateTimeOfAppointment) }}</td>
                </tr>
            </table>
        {{/nextAppointment}}
        {{^nextAppointment}}
            <p>No Data Held</p>
        {{/nextAppointment}}
        <br>
        <h5>Previous releases</h5>
        {{#previousReleases}}
            <table class="data-table">
                <tr>
                    <td class="data-column-35">Last release date</td>
                    <td class="data-column-30">Has been released previously</td>
                    <td class="data-column-35">Last releasing prison/custodial establishment</td>
                </tr>
                <tr>
                    <td>{{ optionalValue (formatDate lastReleaseDate) }}</td>
                    <td>{{ convertBoolean hasBeenReleasedPreviously }}</td>
                    <td>{{ optionalValue lastReleasingPrisonOrCustodialEstablishment }}</td>
                </tr>
            </table>
            <table class="data-table">
                <tr><td class="data-column-20">Previous release dates</td></tr>
                <tr><td>{{#previousReleaseDates}}<li>{{ optionalValue . }}</li>{{/previousReleaseDates}}{{^previousReleaseDates}}No Data Held{{/previousReleaseDates}}</td></tr>
            </table>
        {{/previousReleases}}
        {{^previousReleases}}
            <p>No Data Held</p>
        {{/previousReleases}}
        <br>
        <h5>ECSL release details</h5>
        <table class="summary-list">
            <tr><td>Released under ECSL</td><td>{{ optionalValue (convertBoolean releaseUnderECSL) }}</td></tr>
            <tr><td>Date of release</td><td>{{ optionalValue (formatDate dateOfRelease) }}</td></tr>
            <tr><td>Conditional release date</td><td>{{ optionalValue (formatDate conditionalReleaseDate) }}</td></tr>
        </table>
        <br>
        <h5>Previous recalls</h5>
        {{#previousRecalls}}
            <table class="data-table">
                <tr>
                    <td class="data-column-35">Last recall date</td>
                    <td class="data-column-30">Has been recalled previously</td>
                    <td class="data-column-35"></td>
                </tr>
                <tr>
                    <td>{{ optionalValue (formatDate lastRecallDate) }}</td>
                    <td>{{ convertBoolean hasBeenRecalledPreviously }}</td>
                    <td></td>
                </tr>
            </table>
            <table class="data-table">
                <tr><td class="data-column-20">Previous recall dates</td></tr>
                <tr><td>{{#previousRecallDates}}<li>{{ optionalValue . }}</li>{{/previousRecallDates}}{{^previousRecallDates}}No Data Held{{/previousRecallDates}}</td></tr>
            </table>
        {{/previousRecalls}}
        {{^previousRecalls}}
            <p>No Data Held</p>
        {{/previousRecalls}}
        <br>
        <h5>Current Risk of Serious Harm for part A</h5>
        {{#currentRoshForPartA}}
            <table class="data-table">
                <tr>
                    <td class="data-column-35">Risk to children</td>
                    <td class="data-column-30">Risk to public</td>
                    <td class="data-column-35">Risk to known adult</td>
                </tr>
                <tr>
                    <td>{{ optionalValue riskToChildren }}</td>
                    <td>{{ optionalValue riskToPublic }}</td>
                    <td>{{ optionalValue riskToKnownAdult }}</td>
                </tr>
            </table>
            <table class="data-table">
                <tr>
                    <td class="data-column-35">Risk to staff</td>
                    <td class="data-column-30">Risk to prisoners</td>
                    <td class="data-column-35"></td>
                </tr>
                <tr>
                    <td>{{ optionalValue riskToStaff }}</td>
                    <td>{{ optionalValue riskToPrisoners }}</td>
                    <td></td>
                </tr>
            </table>
        {{/currentRoshForPartA}}
        {{^currentRoshForPartA}}
            <p>No Data Held</p>
        {{/currentRoshForPartA}}
        <br>
        <h5>Risk of Serious Harm summary</h5>
        {{#roshSummary}}
            <table class="summary-list">
                <tr><td>Nature of risk</td><td>{{ optionalValue natureOfRisk }}</td></tr>
                <tr><td>Who is at risk</td><td>{{ optionalValue whoIsAtRisk }}</td></tr>
                <tr><td>Risk imminence</td><td>{{ optionalValue riskImminence }}</td></tr>
            </table>
            <table class="data-table">
                <tr>
                    <td class="data-column-100">Last updated</td>
                </tr>
                <tr>
                    <td>{{ optionalValue (formatDate lastUpdatedDate) }}</td>
                </tr>
            </table>
            <table class="data-table">
                <tr><td class="data-column-100">Risk increase factors</td></tr>
                <tr><td>{{ optionalValue riskIncreaseFactors }}</td></tr>
            </table>
            <table class="data-table">
                <tr><td class="data-column-100">Risk mitigation factors</td></tr>
                <tr><td>{{ optionalValue riskMitigationFactors }}</td></tr>
            </table>
            <br>
            <h5>Risk of serious harm</h5>
            {{#riskOfSeriousHarm}}
                <table class="summary-list">
                    <tr><td>Overall risk</td><td>{{ optionalValue overallRisk }}</td></tr>
                </table>
                <br>
                <p><b>Risk in custody</b></p>
                {{#riskInCustody}}
                    <table class="data-table">
                        <tr>
                            <td class="data-column-35">Risk to children</td>
                            <td class="data-column-30">Risk to public</td>
                            <td class="data-column-35">Risk to known adult</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue riskToChildren }}</td>
                            <td>{{ optionalValue riskToPublic }}</td>
                            <td>{{ optionalValue riskToKnownAdult }}</td>
                        </tr>
                    </table>
                    <table class="data-table">
                        <tr>
                            <td class="data-column-35">Risk to staff</td>
                            <td class="data-column-30">Risk to prisoners</td>
                            <td class="data-column-35"></td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue riskToStaff }}</td>
                            <td>{{ optionalValue riskToPrisoners }}</td>
                            <td></td>
                        </tr>
                    </table>
                {{/riskInCustody}}
                {{^riskInCustody}}
                    <p>No Data Held</p>
                {{/riskInCustody}}
                <p><b>Risk in community</b></p>
                {{#riskInCommunity}}
                    <table class="data-table">
                        <tr>
                            <td class="data-column-35">Risk to children</td>
                            <td class="data-column-30">Risk to public</td>
                            <td class="data-column-35">Risk to known adult</td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue riskToChildren }}</td>
                            <td>{{ optionalValue riskToPublic }}</td>
                            <td>{{ optionalValue riskToKnownAdult }}</td>
                        </tr>
                    </table>
                    <table class="data-table">
                        <tr>
                            <td class="data-column-35">Risk to staff</td>
                            <td class="data-column-30">Risk to prisoners</td>
                            <td class="data-column-35"></td>
                        </tr>
                        <tr>
                            <td>{{ optionalValue riskToStaff }}</td>
                            <td>{{ optionalValue riskToPrisoners }}</td>
                            <td></td>
                        </tr>
                    </table>
                {{/riskInCommunity}}
                {{^riskInCommunity}}
                    <p>No Data Held</p>
                {{/riskInCommunity}}
            {{/riskOfSeriousHarm}}
            {{^riskOfSeriousHarm}}
                <p>No Data Held</p>
            {{/riskOfSeriousHarm}}
        {{/roshSummary}}
        {{^roshSummary}}
            <p>No Data Held</p>
        {{/roshSummary}}
        <br>
        <br>
        <h5>Who completed part A</h5>
        {{#whoCompletedPartA}}
            <table class="data-table">
                <tr>
                    <td class="data-column-35">Surname</td>
                    <td class="data-column-35">Probation practitioner for offender</td>
                </tr>
                <tr>
                    <td>{{ getUserLastName name }}</td>
                    <td>{{ convertBoolean isPersonProbationPractitionerForOffender }}</td>
                </tr>
            </table>
        {{/whoCompletedPartA}}
        {{^whoCompletedPartA}}
            <p>No Data Held</p>
        {{/whoCompletedPartA}}
        <br>
        <h5>Practitioner for part A</h5>
        {{#practitionerForPartA}}
            <table class="data-table">
                <tr>
                    <td class="data-column-50">Surname</td>
                </tr>
                <tr>
                    <td>{{ getUserLastName name }}</td>
                </tr>
            </table>
        {{/practitionerForPartA}}
        {{^practitionerForPartA}}
            <p>No Data Held</p>
        {{/practitionerForPartA}}
        <br>
        <br>
        <table class="summary-list">
            <tr><td>Under 18</td><td>{{ optionalValue (convertBoolean isUnder18) }}</td></tr>
            <tr><td>Sentence 12 months or over</td><td>{{ optionalValue (convertBoolean isSentence12MonthsOrOver) }}</td></tr>
            <tr><td>Multi-agency Public Protection Arrangements level above 1</td><td>{{ optionalValue (convertBoolean isMappaLevelAbove1) }}</td></tr>
            <tr><td>Convicted of serious offence</td><td>{{ optionalValue (convertBoolean hasBeenConvictedOfSeriousOffence) }}</td></tr>
            <tr><td>Sentence 48 months or over</td><td>{{ optionalValue (convertBoolean isSentence48MonthsOrOver) }}</td></tr>
            <tr><td>MAPPA category 4</td><td>{{ optionalValue (convertBoolean isMappaCategory4) }}</td></tr>
            <tr><td>MAPPA level 2 or 3</td><td>{{ optionalValue (convertBoolean isMappaLevel2Or3) }}</td></tr>
            <tr><td>Recalled on new charged offence</td><td>{{ optionalValue (convertBoolean isRecalledOnNewChargedOffence) }}</td></tr>
            <tr><td>Serving fixed term sentence for terrorist offence</td><td>{{ optionalValue (convertBoolean isServingFTSentenceForTerroristOffence) }}</td></tr>
            <tr><td>Charged with terrorist or state threat offence</td><td>{{ optionalValue (convertBoolean hasBeenChargedWithTerroristOrStateThreatOffence) }}</td></tr>
            <tr><td>Charged with offence</td><td>{{ optionalValue (convertBoolean isChargedWithOffence) }}</td></tr>
            <tr><td>Serving terrorist or national security offence</td><td>{{ optionalValue (convertBoolean isServingTerroristOrNationalSecurityOffence) }}</td></tr>
            <tr><td>At risk of involved in foreign power threat</td><td>{{ optionalValue (convertBoolean isAtRiskOfInvolvedInForeignPowerThreat) }}</td></tr>
            <tr><td>Referred to Parole Board 244ZB</td><td>{{ optionalValue (convertBoolean wasReferredToParoleBoard244ZB) }}</td></tr>
            <tr><td>Repatriated for murder</td><td>{{ optionalValue (convertBoolean wasRepatriatedForMurder) }}</td></tr>
            <tr><td>Serving SOPC sentence</td><td>{{ optionalValue (convertBoolean isServingSOPCSentence) }}</td></tr>
            <tr><td>Serving DCR sentence</td><td>{{ optionalValue (convertBoolean isServingDCRSentence) }}</td></tr>
            <tr><td>Youth sentence over 12 months</td><td>{{ optionalValue (convertBoolean isYouthSentenceOver12Months) }}</td></tr>
            <tr><td>Youth charged with serious offence</td><td>{{ optionalValue (convertBoolean isYouthChargedWithSeriousOffence) }}</td></tr>
        </table>
        <table class="data-table">
            <tr>
                <td class="data-column-30">Countersign Senior Probation Officer date</td>
                <td class="data-column-35">Countersign Assistant Chief Officer date</td>
            </tr>
            <tr>
                <td>{{ optionalValue (formatDate countersignSpoDateTime) }}</td>
                <td>{{ optionalValue (formatDate countersignAcoDateTime) }}</td>
            </tr>
        </table>
        <table class="summary-list">
            <tr><td>Countersign Senior Probation Officer exposition</td><td>{{ optionalValue countersignSpoExposition }}</td></tr>
            <tr><td>Countersign Assistant Chief Officer exposition</td><td>{{ optionalValue countersignAcoExposition }}</td></tr>
        </table>
        <table class="summary-list">
            <tr><td>Decision date</td><td>{{ optionalValue (formatDate decisionDateTime) }}</td></tr>
        </table>
        <!-- CounterSign names and emails have been removed from this section so as not to over-reveal staff information -->
    {{/recommendations}}
    {{^recommendations}}
        <p>No Data Held</p>
    {{/recommendations}}
{{/.}}
{{^.}}
    <p>No data held</p>
{{/.}}